<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
This full-day workshop will provide participants with the opportunity to learn about the wide range of data available through
  <a href="http://www.ensembl.org">Ensembl</a>, and gain hands-on experience in navigating the Ensembl website to retrieve and interpret data.
  The workshop consists of a series of modules which include a presentation and a demonstration of the tools, followed by the opportunity to do exercises.
  Participants are encouraged to bring problems/questions about their research and we will try to tackle these during the workshop using Ensembl.

</p>
